body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: rgb(55, 55, 55);
}

h2 {
    margin-top: 0;
}

a.btn {
    background-color: rgb(55, 55, 55);
    color: white;
    text-decoration: none;
    padding: 8px 24px;
    display: inline-block;
    border-radius: 4px;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}