.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container-photo img {
    max-height: 300px;
}
