.text {
  text-align: center;
}

.box1 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
  margin: -4px;
}

.box2 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
  margin: -4px;
}

.a {
  width: 800px;
  height: 800px;
}
.a {
  width: 800px;
  height: 800px;
}

.box4 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}
.box5 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box6 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box7 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box8 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}
.box9 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box10 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box11 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box12 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box13 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box14 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}
.box15 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box16 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}
.box17 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box18 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box19 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box20 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}
.box21 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box22 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box23 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box24 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}
.box25 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box26 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box27 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box28 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box29 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box30 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}
.box31 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box32 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}
.box33 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box34 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box35 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box36 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}
.box37 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box38 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box39 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box40 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}
.box41 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box42 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box43 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box44 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box45 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box46 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}
.box47 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box48 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}
.box49 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}
.box50 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box51 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box52 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box53 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}

.box54 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}

.box55 {
  display: inline-block;
  width: 100px;
  background-color: black;
  height: 100px;
}
.box56 {
  display: inline-block;
  width: 100px;
  background-color: gray;
  height: 100px;
}
