.Absender {
  text-align: right;
  line-height: 20%;
}
.date {
  text-align: right;
}

.Anschrift {
  text-align: left;
  line-height: 20%;
}

.Rahmen{border: medium solid;
width: 900px;
color: black;
margin: 20%;
padding: 5%;}