* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: coral;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  position: absolute;
  background-color: whitesmoke;
  min-height: 480px;
  width: 768px;
  max-width: 100%;
  overflow: hidden;
  opacity: 0.8;
}
.form-container {
  background: rgb(9, 13, 231);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100%;
  padding: 0 50px;
  text-align: center;
  transition: all 0,6s ease-in-out;
}
.overlay-container {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.overlay {
  position: absolute;
  color: black;
  width: 200%;
  height: 100%;
  left: -100%;
transform: translateX(0);
  transition: transform 0.6s, ease-in-out;
  background: transparent;
}
.overlay-panel {
  position: absolute;
  display: flex;
  background-color: lightgreen;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  transform: translateX(0);
  transition: trasform 0.6s ease-in-out;
  top: 0;
}
.overlay-right {
  right: 0;
  transform: translateX(0);
}
.overlay-left {
    transform: translateX(-20%);
}
.sign-in-container {
  width: 50%;
  z-index: 2;
}
.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 0;
  opacity: 0;
}
button {
  color: black;
  transition: transform 80ms ease-in;
}
button:active {
  transform: scale(0.95);
}
.hide {
    background: transparent;
}
.container.right-panel-active .sign-in-container {
    opacity: 0;
    transform: translateX(100%);
}
.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}
.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
.container.right-panel-active .overlay {
    transform: translateX(50%);
    
}
.container.right-panel-active .overlay-left {
    transform: translateX(0);
}
.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}
