#active-game {
  text-align: center;
  margin: 2rem 0;
  display: none;
}
#active-player-game {
  font-weight: bold;
}
#game-board {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  gap: 0, 5rem;
  justify-content: center;
}
#game-board li {
  background-color: rgb(215, 187, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
#game-board li:hover{
    background-color: aqua;
}
