#page-logo a {
  font-size: 40px;
  color: rgb(230, 230, 49);
  text-decoration: none;
  text-transform: lowercase;
  padding: 10px;
  text-shadow: 1px 1px 2px black;
}

header {
  display: flex;
  justify-content: space-between;
}
.body {
  color: rgb(230, 230, 49);
  font-family: "quicksand", "sans-serif";
}

#hero {
  height: 800px;
  background-image: url("../img/Paris.jpg");
}
nav ul {
  display: flex;
  flex-direction: row;

  margin: 0px;
  list-style: none;
  text-align: right;
}
#hero-content {
  color: black;
}
