@media screen and (min-width: 599px) {
  .colorbox {
    background-color: blue;
  }
}

@media screen and (min-width: 799px) {
  .colorbox {
    background-color: red;
  }
}

@media screen and (min-width: 1200px) {
  .colorbox {
    background-color: green;
  }
}
.colorbox {
  border-style: double;
  width: 200px;
  height: 80px;
}
