.meal-item-form {
  text-align: right;
}

.meal-item-form button {
  font: inherit;
  cursor: pointer;
  background-color: #00426a;
  border: 1px solid #00426a;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.meal-item-form button:hover,
.meal-item-form button:active {
  background-color: #013351;
  border-color: #013351;
}

.meal-item-form .input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.meal-item-form .input label {
  font-weight: bold;
  margin-right: 1rem;
}

.meal-item-form .input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
