body{
font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightsalmon;

}


#dice{
    
    font-size: 400px;
    max-height: 60px;
    margin-bottom: 350px;
    color: blue;
     margin-top: -20px;   
}

#history{
   font-size: 40px;
   min-height: 20px;
} 
.roll-button{
    font-size: 50px;
    width: 200px;
    height: 100px;
    background-color: yellow;
    justify-content: center;
    text-align: center;
    border: black solid 5px;
    border-radius: 10px;
}