#budget-form {
  border: solid 3px rgb(24, 199, 32);
  width: 200px;
  height: 80px;
  border-radius: 10px;
  margin-left: 10px;
  padding-left: 20px;
  padding-top: 10px;
}
#expenses-form {
  border: solid 3px rgb(216, 17, 17);
  width: 200px;
  height: 120px;
  border-radius: 10px;
  margin-left: 10px;
  padding-left: 20px;
  padding-top: 10px;
}
#submit-budget {
  color: rgb(24, 199, 32);
}
#submit-expense {
  color: rgb(216, 17, 17);
}
